#table_manage input.buttonbold {
  border-top: #000000 0px solid;
  border-bottom: #000000 0px solid;
  border-left: #000000 0px solid;
  border-right: #000000 0px solid;
  }

#table_manage input.buttonitalic {
  border-top: #000000 0px solid;
  border-bottom: #000000 0px solid;
  border-left: #000000 0px solid;
  border-right: #000000 0px solid;
  }

#table_manage input.buttonunder {
  border-top: #000000 0px solid;
  border-bottom: #000000 0px solid;
  border-left: #000000 0px solid;
  border-right: #000000 0px solid;
  }
  
#table_manage input.buttonspelling {
  border-top: #000000 0px solid;
  border-bottom: #000000 0px solid;
  border-left: #000000 0px solid;
  border-right: #000000 0px solid;
  }
