/* LAYOUT */
#header {
   width: auto;
   margin: auto;
   padding-top: 0px;
   text-align: left;
   background-color: transparent;
   background-image: url(/pdp/images/style_images/green/drops/headerbanner.jpg);
   background-position: top right;
   background-repeat: no-repeat;
   min-height: 95px;
   height: 95px;
   line-height: 1em;
   border-bottom: 1px solid #000;
}
html>body #header {
   height: auto;
   min-height: 95px;
}
#crumbtrail {
   clear: none;
   text-align: left;
   padding-left: 10px;
   line-height: 35px;
   background-color: transparent;
   background-image: url(/pdp/images/style_images/green/drops/crumbanner.jpg);
   background-position: left 0px;
   background-repeat: no-repeat;
   min-height: 35px;
   height: 35px;
}
html>body #crumbtrail {
   height: auto;
   min-height: 35px;
}
#username {
   font-size: small;
   float: right;
   line-height: 35px;
   padding-right: 20px;
   background-color: transparent;
}
#outerWrapper {
   padding-top: 0px;
   width: auto;
   margin: auto;
   margin-top: 0px;
   background-color: transparent;
   background-image: none;
   background-position: -0px 0px;
   background-repeat: repeat-y;
   padding: 0px;
}
#content {
   background-image: none;
   background-position: bottom left;
   background-repeat: no-repeat;
   min-height: 290px;
   height: 290px;
   padding: 0px;
   padding-bottom: 0px;
   margin: 0px;
   margin-top: 0px;
   clear: none;
   padding-right: 0px;
   background-image: none;
   background-repeat: no-repeat;
   background-position: 160px 0px;
}
html>body #content {
   height: auto;
   min-height: 290px;
}
#container {
   margin-right: 0px;
   padding-right: 10px;
   min-height: 460px;
   height: 460px;
   border: 0px solid blue;
   clear: none;
   margin-left: 0px;
   background-image: none;
   background-repeat: no-repeat;
   background-position: right 0px;
}
html>body #container {
   height: auto;
   min-height: 460px;
}
#main {
   margin-left: 0px;
   text-align: left;
   padding: 15px;
   padding-top: 4px;
   margin-bottom: 0px;
   min-height: 340px;
   height: 340px;
   border: 0px solid #aaa; 
   margin-right: 170px;
   padding-right: 0px;
}
html>body #main {
   height: auto;
   min-height: 340px;
}
body#a0101 #main {
   margin-right: 342px;
}
#sidebar {
   width: 150px;
   clear: none;
   float: left;
   text-align: left;
   padding-left: 0px;
   padding-right: 0px;
   padding-left: 10px;
   display: none;
}
body.login #sidebar {
   display: none;
}
#footer {
   background-color: transparent;
   background-image: url(/pdp/images/style_images/green/drops/footerdrop2.gif);
   background-repeat: repeat-x;
   width: auto;
   border-bottom: 0px solid #fff;
   margin: auto;
   clear: both;
   line-height: 3em;
   min-height: 80px;
   height: 80px;
   border-top: 1px solid #000;
   margin-top: 0px;
}
html>body #footer {
   height: auto;
   min-height: 80px;
}
.clearing {
   height: 0px;
   clear: both;
}
#orientation {
   width: auto;
   min-height: 15px;
   height: 15px;
   clear: both;
   margin-left: 0px;
   padding: 0px;
   background-color: transparent;
   background-image: url(/pdp/images/style_images/green/drops/crumbdrop.gif);
   background-position: 0px 0px;
   background-repeat: repeat-x;
   text-align: left;
   border-bottom: 1px solid #ccc;
}
html>body #orientation {
   height: auto;
   min-height: 15px;
}

img {
   display: block;
   border: none;
}
.fltleft {
   float: left;
   margin-right: 10px;
}
.fltright {
   float: right;
   margin-left: 10px;
}
.rightside,
.side {
   border: 0px solid #ccc;
   border-left: none;
   float: left;
   display: block;
   margin-bottom: 10px;
   margin-top: -4px; 
   background-color: transparent;
   font-size: small;
   line-height: 1.2em;
   background-image: url(/pdp/images/style_images/green/drops/newsdrop.gif);
   background-repeat: no-repeat;
   background-position: left 0px;
   padding-left: 12px;
   min-height: 460px;
   height: 460px;
   text-align: left;
}
.rightside {
   margin-left: 0px;
   float: right;
   padding-left: 12px;
   background-image: url(/pdp/images/style_images/green/drops/newsdrop.gif);
   background-repeat: no-repeat;
   background-position: left 0px;
   min-height: 460px;
   height: 460px;
   margin-top: 0px;
   margin-right: -2px;
   width: 158px;
}
html>body .side,
html>body .rightside {
   height: auto;
   min-height: 460px;
}

#usernav {
   display: block;
   margin: 0px;
   padding: 0px;
   height: 20px;
   min-height: 20px;
   margin-top: 0px;
   margin-right: 10px;
   width: 500px;
   clear: none;
   padding-top: 10px;
   border: 0px solid red;
   position: absolute;
   right: 0px;
}
body.login #usernav {
   display: none;
}

html>body #usernav {
   height: auto;
   min-height: 20px;
}
#nav {
   display: block;
   margin-left: 116px;
   margin-top: 0px;
   margin-right: 0px;
   padding-top: 40px;
   height: 22px;
   min-height: 22px;
   padding-left: 0px;
   border-top: 0px solid #d1e8ee;
   border-bottom: 0px solid #d1e8ee;
   clear: none;
}
html>body #nav {
   height: auto;
   min-height: 22px;
}
body.login #nav {
   display: none;
}

#announce {
   width: 170px;
   clear: none;
   text-align: left;
   padding-top: 4px;
   padding-left: 0px;
   margin-right: 0px;
   float: right;
}

.wrap1, .wrap2, .wrap3 {
   display:inline-table;
   /* \*/display:block;/**/
}
.wrap1 {
   background: url(/pdp/images/style_images/green/shad/v3/shadow.gif) right bottom no-repeat;
   margin-right: 5px;
   clear: both;
   margin-bottom: 3px; 
   margin-top: 3px; 
   border-bottom: 1px solid #fff;
}
.wrap2 {
   background: url(/pdp/images/style_images/green/shad/v3/corner_bl.gif) -12px 100% no-repeat;
   margin: 0px;
}
.wrap3 {
   padding: 0 9px 9px 0;
   background: url(/pdp/images/style_images/green/shad/v3/corner_tr.gif) 100% -12px no-repeat;
   margin: 0px;
}
.news {
   border: 1px solid #eee;
   border-left: none;
   background-color: #fff;
   padding: 3px;
   font-size: 90%;
   width: auto;
}
table {
   border: 1px solid #ccc;
   border-collapse: collapse;
   clear: none;
   width: 100%;
   margin-bottom: 5px;
   font-size: 85%;
}
table td {
   border: 0px solid green;
   padding: 1px;
   padding-left: 3px;
   border-bottom: 0px solid #eee;
}
th {
   background-color: #cce8ca;
   border-bottom: 1px solid #ccc;
   padding: 3px;
}
td.left {
   width: 30%;
   white-space: nowrap;
}
#preabmle {
   border-bottom: 1px solid #eee;
   margin-bottom: 5px;
}
div #diskUsage {
   border: 1px solid #ccc;
   float: left;
   width: 100px;
   margin-right: 5px;
}
div #diskInd {
   background-color: #090;
}
#secnav {
   clear: none;
   margin-left: 116px;
   min-height: 32px;
   height: 32px;
}
html>body.login #secnav {
   display: none;
}









/* MENU */
/* ul containing the main menu items */
#nav ul {
   padding: 0;
   margin: auto;
   display: block;
   list-style: none;
   width: auto;
   margin: 0px;
   background-color: transparent;
   clear: none;
   z-index: 999;
   height: 22px;
   min-height: 22px;
   line-height: 22px;
   margin-top: 0px;
   background-image: none;
   background-position: top right;
   background-repeat: repeat-y;
   border-top: 1px solid #ccc;
   border-bottom: 0px solid #fff;
}

/*
This doesent appear to do anything as the min height is specified in the code 
above and height:auto makes no noticeable difference

html>body #nav ul {
   height: auto;
   min-height: 22px;
}
*/

/* applys to each li inside the above ul */
#nav li {
   clear: none;
   display: block;
   position: relative;
   float: left;
   margin-bottom: 0px;
   text-align: left;
   background-color: transparent;
   padding-left: 0px;
   background-repeat: no-repeat;
   height: 22px;
   min-height: 22px;
   border-right: 1px solid #ccc;
}

/* gives the first li no left border */
#nav li.first {
   border-left: 1px solid #ccc;
}
/* gives the last li no right border */
#nav li.last {
   border-right: none;
}

html>body #nav li {
   height: auto;
   min-height: 22px;
}

/* Controls the Appearance of Links in the #nav li */
#nav li a {
   display: block;
   color: #000;
   font-weight: bold;
   line-height: 22px;
   text-decoration: none;
   padding: 0px;
   background-color: transparent;
   background-repeat: no-repeat;
   border: none;
   z-index: 998;
   text-indent: 0em;
   height: 22px;
   min-height: 22px;
   text-transform: none;
   padding-left: 8px;
   padding-right: 8px;
   border-right: 0px solid #d1e8ee;
}

/*
This doesent appear to do anything as the min height is specified in the code 
above and height:auto makes no noticeable difference
*/
/*html>body #nav li a {
   height: auto;
   min-height: 22px;
}*/

/* Applies standard rollover effect to the last & standard li items */
#nav li.last a:hover,
#nav li a:hover {
   color: #000;
   border-left: 5px solid #ccc;
   padding-left: 3px;
  /* background-color: #fff;*/
}

/* Applys active colors to last and li items*/
#nav li.last a.active,
#nav li a.active {
   color: #0ec000;
   border-left: 5px solid #098400;
   padding-left: 3px;
  /* background-color: #fff;*/
}

/* Applies active rollover effect, with a colored left border to last and li items */
#nav li.last a.active:hover 
#nav li a.active:hover {
   color: #0ec000;
   border: none;
   border-right: 0px solid #d1e8ee;
   background-position: right top;
   background-repeat: no-repeat;
   border-left: 5px solid #098400;
   padding-left: 3px;
   background-color: #fff;
}


/* This code is redundant as we are using auto width

#nav li a#mn0100 {
   width: 63px;
}
#nav li a#mn0200 {
   width: 75px;
}
#nav li a#mn0300 {
   width: 93px;
}
#nav li a#mn0400 {
   width: 100px;
}
#nav li a#mn0500 {
   width: 53px;
}
#nav li a#mn0600 {
   width: 101px;
}
#nav li a#mn0700 {
   width: 91px;
}*/

#nav li a#mn0100 {
   width: auto;
}
#nav li a#mn0200 {
   width: auto;
}
#nav li a#mn0300 {
   width: auto;
}
#nav li a#mn0400 {
   width: auto;
}
#nav li a#mn0500 {
   width: auto;
}
#nav li a#mn0600 {
   width: auto;
}
#nav li a#mn0700 {
   width: auto;
}

/* Appears to have no effect*/
#nav li.last a {
   border: none;
   padding-left: 8px;
}

#nav li ul {
   position: absolute;
   left: -999em;
   text-align: left;
   display: block;
   margin-top: 0px;
   margin-left: -1px;
   width: 150px;
   z-index: 999;
   background-color: #fff;
   line-height: 22px;
   min-height: 22px;
   height: 22px;
   border: 1px solid #ccc;
   background-image: none;
}


html>body #nav li ul {
   height: auto;
   min-height: 22px;
}

#nav li.first ul {
   margin-left: 0px;
}
#nav li ul li {
   text-align: left;
   display: block;
   width: 150px;
   margin-left: 0px;
   border: none;
   border-bottom: 1px solid #eee;
   clear: both;
   line-height: 22px;
   min-height: 22px;
   height: 22px;
}

/* Commented out as an empty menu box wont exist

html>body #nav li ul li {
   height: auto;
   min-height: 22px;
}*/

#nav li ul li.last a,
#nav li.last ul li a,
#nav li ul li a {
   background-color: transparent !important;
   width: 135px;
   border: none;
   padding-left: 5px;
   text-indent: 0em;
   color: #000;
   font-weight: normal;
   line-height: 22px;
   min-height: 22px;
   height: 22px;
   font-size: 90%;
   text-transform: none;
}
html>body #nav li ul li a {
   height: auto;
   min-height: 22px;
}
#nav li ul li.last a:hover,
#nav li.last ul li a:hover,
#nav li ul li a:hover {
   color: #098400;
   width: 135px;
   padding-left: 5px;
   border: none;
   font-weight: normal;
   font-size: 90%;
   background-image: url(/pdp/images/style_images/green/drops/heading.gif) !important;
   background-position: top left;
   background-repeat: no-repeat;
}
#nav li.last ul li a.active:hover,
#nav li.last ul li a.active,
#nav li ul li.last a.active,
#nav li ul li.last a.active:hover,
#nav li ul li a.active:hover,
#nav li ul li a.active {
   font-weight: bold;
   width: 125px;
   padding-left: 5px;
   border: none;
   color: #098400;
   background-image: url(/pdp/images/style_images/green/drops/heading.gif) !important;
   background-position: top left;
   background-repeat: no-repeat;
}

#nav li.last,
#nav li ul li.last {
   border-bottom: none;
}

nav a.daddy {
}
#nav a.daddy:hover {
}
#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li.sfhover ul ul,
#nav li.sfhover ul ul ul {
   left: -999em;
}
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li.sfhover ul,
#nav li li.sfhover ul,
#nav li li li.sfhover ul {
   left: auto;
}
#nav span {
   display: none;
}

/* Creates Preferences | help | Login area */
#usernav ul {
   height: 10px;
   min-height: 10px;
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   float: right;
   display: block;
   width: 155px;
   border: 0px solid red;
}

/*html>body #usernav ul {
   height: auto;
   min-height: 10px;
}*/

#usernav li {
   height: 10px;
   min-height: 10px;
   width: auto;
   display: block;
   float: left;
}

/* I dont think this is necessary since it contains text at all times

html>body #usernav li {
   height: auto;
   min-height: 10px;
}*/

/* This creates a pipe symbol between the menu items */
#usernav li a {
   margin: 0px;
   display: inline;
   padding: 0px;
   height: 10px;
   min-height: 10px;
   font-size: x-small;
   color: #fff;
   font-weight: normal;
   padding-right: 5px;
   padding-left: 5px;
   border-left: 1px solid #fff;
}
html>body #usernav li a {
   height: auto;
   min-height: 10px;
}
#usernav ul li.First a {
   border-left: none;
}
#usernav ul li a:hover {
   text-decoration: underline;
}
#secnav ul {
   height: 30px;
   min-height: 30px;
   line-height: 30px;
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   display: block;
   background-color: transparent;
   float: left;
   border: 0px solid red;
}

/*html>body #secnav ul {
   height: auto;
   min-height: 30px;
}*/

#secnav li {
   height: 30px;
   min-height: 30px;
   width: auto;
   display: block;
   float: left;
   border-right: 0px solid #eee;
}

/*html>body #secnav li {
   height: auto;
   min-height: 30px;
}*/

#secnav li a {
   display: inline;
   margin: 0px;
   height: 30px;
   min-height: 30px;
   padding: 0px;
   font-weight: normal;
   color: #000;
   padding-right: 8px;
   padding-left: 8px;
   font-size: 85%;
   width: 100px;
}
/*html>body #secnav li a {
   height: auto;
   min-height: 30px;
}*/


#secnav ul li a.active:hover,
#secnav li a.active {
   color: #0ec000;
   border-left: 5px solid #098400;
   padding-left: 3px;
   /*background-color: #fff;*/
}
#secnav ul li.last a {
   border-right: none;
}
#secnav ul li a:hover {
   text-decoration: none;
   color: #0ec000;
   border-left: 5px solid #ccc;
   padding-left: 3px;
  background-color: transparent;
}










/* NAV */
#logo {
   width: 115px;
   height: 66px;
   float: left; 
   background-color: transparent;
   margin: 0px;
   margin-top: 20px;
   padding: 0px;
   background: transparent url(/opus/images/logo.png) no-repeat;
   text-decoration: none;
   line-height: 66px;
}
#logo a {
   margin: 0px;
   padding: 0px;
   width: 115px;
   height: 66px;
   display: block;
   clear: none;
   text-indent: -1000em; 
   background: transparent url(/opus/images/logo.png) no-repeat;
   text-decoration: none;
   line-height: 66px;
}
#logo a {
   overflow: hidden;
}
#footer ul {
   border: 0px solid #b9bfd9;
   display: inline;
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   width: auto;
   font-size: x-small;
   clear: both;
   margin-top: 10px;
}
#footer ul li {
   border-left: 1px solid #000;
   width: auto;
   display: inline;
   padding-left: 4px;
   padding-right: 0px;
   line-height: 1em;
}
#footer ul li a {
   margin: 0px;
   padding: 0px;
   font-weight: normal;
   color: #000;
   font-size: x-small;
}
#footer ul li.First {
   border-left: none;
}
#footer ul li a:hover {
   text-decoration: underline;
}
textarea.Field {
   border: 1px solid #999;
   width: 100%;
}
input#send {
   background-color: #098400;
   color: #fff;
   border: none;
   font-weight: bold;
   text-transform: uppercase; 
}
.side ul,
#sidebar ul {
   margin: 0px;
   margin-top: 8px;
   margin-bottom: 8px;
   padding: 0px;
   display: block;
   list-style-type: none;
   clear: both;
   line-height: 1.2em;
}
.side ul {
   margin-bottom: 0px;
}
.side ul li,
#sidebar ul li {
   list-style-type: none;
   margin: 0px;
   clear: both;
   font-size: small;
   border: 0px solid green;
   border-bottom: 1px solid #eee;
   display: block;
   height: 1.4em;
   min-height: 1.4em;
}
.side ul li.last {
   border-bottom: none; 
} 
html>body .side ul li,
html>body #sidebar ul li {
   height: auto;
   min-height: 1.4em;
}
.side ul li a,
#sidebar ul li a {
   font-weight: bold;
   color: #000;
   display: block;
   margin: 0px;
   margin-bottom: 2px;
   height: 1.4em;
   line-height: 1.4em;
   min-height: 1.4em;
   border: 0px solid red;
}
html>body .side ul li a,
html>body #sidebar ul li a {
   height: auto;
   min-height: 1.4em;
}
.side ul li a{
   font-weight: normal;
   font-size: x-small;
   padding-left: 10px;
}

.side ul li a:hover,
#sidebar ul li a:hover {
   color: #0ec000;
   text-decoration: none;
}
.side ul li a.active,
#sidebar ul li a.active {
   color: #098400;
   padding-left: 0px;
}

#sidebar ul li ul {
   margin: 0px;
   margin-top: 5px;
   padding: 0px;
}

#sidebar ul li ul li {
   height: 1.4em;
   min-height: 1.4em;
   border: none;
}
html>body #sidebar ul li ul li {
   height: auto;
   min-height: 1.4em;
}
#sidebar ul li ul li a {
   font-weight: normal;
   font-size: 85%;
   padding-left: 5px;
   height: 1.4em;
   min-height: 1.4em; 
   line-height: 1.4em;
}
html>body #sidebar ul li ul li a {
   height: auto;
   min-height: 1.4em;
}
#sidebar ul li ul li a:hover {
   padding-left: 3px;
   color: #0ec000;
   background-image: none;
   background-repeat: no-repeat;
   background-position: left center;
   border-left: 2px solid #ccc;
}
#sidebar ul li ul li a.active:hover,
#sidebar ul li ul li a.active {
   padding-left: 3px;
   color: #098400;
   font-weight: bold;
   background-image: none;
   background-repeat: no-repeat;
   background-position: left center;
   border-left: 5px solid #098400;
}

form {
   margin: 0px;
   padding: 0px;
}










/* TYPOGRAPHY */
#footer ul,
#footer {
   font-size: 9pt;
   line-height: 1.6em;
   padding-top: 5px;
}

h3 {
   color: #000;
   font-size: small;
   background-color: transparent;
   margin: 0px;
   padding: 3px; 
   border-top: 0px solid #098400;
   border-left: 5px solid #098400;
   margin-bottom: 5px;
   margin-top: 0px;
   background-image: url(/pdp/images/style_images/green/drops/heading.gif);
   background-repeat: no-repeat;
   text-align: left;
}

#crumbtrail,
#crumbtrail h3 a {
   color: #000;
   font-weight: normal;
}
#crumbtrail h3 {
   font-size: small;
   font-weight: normal;
   background-color: transparent;
   background-image: none;
   color: #000;
   margin: 0px;
   padding: 0px;
   border: none;
}
#crumbtrail a:hover {
   text-decoration: underline;
   color: #0ec000;
}
#logo h1 {
   margin: 0px;
   padding: 0px;
   width: 115px;
   height: 66px;
   clear: both;
   font-size: xx-small;
   line-height: 0px;
   text-indent: -1000em;
}
#orientation h2 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 0px;
   color: #098400;
   font-size: medium;
   clear: both;
}
p {
   font-size: 90%;
   margin-top: 3px;
   margin-bottom: 8px;
}
#orientation p {
   line-height: 1.3em;
}
#orientation h4 {
   text-align: left;
   margin: 0px;
   padding: 0px;
   margin: 0px;
   padding-left: 180px;
   text-transform: none;
   font-size: 90%;
   color: #0bbd01;
   height: 30px;
   line-height: 30px;
   clear: none;
   display: block;
   border-bottom: 1px solid #eee;
   width: auto;
   display: none;
}
html>body #orientation h4 {
   height: auto;
   min-height: 30px;
}
.warning {
   color: #f00;
}
.current {
   font-weight: bold;
   color: #0bbd01;
}
.here {
   font-weight: bold;
   font-size: 120%;
}
.news h4 {
   font-size: small;
   margin: 0px;
   padding: 0px;
   border-bottom: 1px solid #eee;
}