.align-right{
	text-align:right
}

/* GENERIC CSS ELEMENTS *****************************/

a:link {
	text-decoration: none; color : #003399;
}

a:active {
	text-decoration: none; color : #003399;
}

a:visited {
	text-decoration: none; color : #003399;
}
 
a:hover {

	color : #FF6600;
}

acronym {
  border-bottom-width: 1px;
  border-bottom-color: #0000FF;
  border-bottom-style: dotted;
  cursor: help;
}

body {
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	color:#000000;
	background-color:#FFFFFF;
	border:0px;
	text-align: left;
}

em {
	font-style: italic;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #006584;
	font-size: 16pt;
	font-weight: bold;
}

h1.page_title {

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: inline; 
	color: #006584;
	font-size: 16pt;
	font-weight: bold;
}

li {
	color: #006584;
	list-style-type: square;
}

li.numbered {

list-style-type:decimal;

}

h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #006584;
	font-size: 14pt;
	font-weight: bold;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #006584;
	font-size: 12pt;
	font-weight: bold;
}

hr {
	height: 0px;
	border: solid #666666 0px;
	border-top-width: 1px;
}

input {
	border: 1px solid #666666;
}

quote {
	
	color: blue;

}

table{
	border: 0px #000000 solid;
	border-spacing: 0px;
	border-collapse:collapse;
	padding: 0px;
}

td {
	font-size:12px;
	text-align:left;
	padding: 3px;
	vertical-align:top;
}

textarea {
	BORDER-BOTTOM: #cccccc thin solid;
	BORDER-LEFT: #cccccc thin solid;
	BORDER-RIGHT: #cccccc thin solid;
	BORDER-TOP: #cccccc thin solid;
	FONT-SIZE: 10pt; WIDTH: auto;
	font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
	color: #444444;
	clip:  rect(   )
}

th {
	border: 0px #999999 solid;
	font-size: 10pt;
	font-style: normal;
	text-decoration: none;
	font-weight:bold;
	color:#333333;
	background:#ECF9FB;
	text-align:left;
}

/* DEFAULT CLASSES **************************************/

/* table classes */

table.bb_button_bar {

	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
}

table.breadcrumb {

	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width:100%;
}

table.evidence_table {
	border-top: #000000 1px solid;
 	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-color:#AAAAAA;
	width:100%
}

table.plan_actions {
	border-top: #cccccc 0px solid;
 	border-bottom: #cccccc 0px solid;
	border-left: #cccccc 0px solid;
	border-right: #cccccc 0px solid;
	background-color:inherit;
	padding: 0px;
	border-spacing: 0px;border-collapse:collapse;
	width:100%;
}

table.no_border{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	background-color: #ffffff;

}

table.page{
	/*border-top: #AAAABB 0px solid;
 	border-bottom: #AAAABB 0px solid;
	border-left: #AAAABB 0px solid;
	border-right: #AAAABB 0px solid;
	background-color:#ffffff;
	width:100%*/
	
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
}

table.information_list{
/*	border-spacing: 0px;border-collapse:collapse;
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#AAAAAA;
	width:100%*/
}

table.information{
	border-spacing:0px;
	border-collapse:collapse;
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#FFFFFF;
	width:100%;
}

table.skills{
	border-spacing:0px;
	border-collapse:colapse;
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#00FFFF;
	width:100%;
}

table.skills_evidence{
	border-spacing:0px;
	border-collapse:colapse;
	border-top: #AAAABB 0px solid;
 	border-bottom: #AAAABB 0px solid;
	border-left: #AAAABB 0px solid;
	border-right: #AAAABB 0px solid;
	background-color:#f6fac5;
	width:100%;
}

table.confirmation{
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#CCCCCC;
	width:100%
}

table.template { 
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#FFFFFF;
	width:100%
}
table.tool {
	border-top: #000000 1px solid;
 	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-color:#FFFFAA;
	width:180px;
}

table.form {
	border-top: #000000 1px solid;
 	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-color:#999999;
	width:100%;
}

table.data_entry {
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#AAAAAA;
	width:100%
}

table.skill_information {
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border: #AAAABB 1px solid;
	width:100%;
}

table.table_no_border{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
}

table.table_with_border{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #cccccc 1px solid;
 	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
}

table.summary_table{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
 	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	width:100%;
}

table.summary_table_component{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #cccccc 0px solid;
 	border-bottom: #cccccc 0px solid;
	border-left: #cccccc 0px solid;
	border-right: #cccccc 0px solid;
	width:100%;
}

table.table_no_border_full_width{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width:100%;
}

table.journal_entry{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #cccccc 1px solid;
 	border-bottom: #cccccc 1px solid;
	border-left:  #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	width:100%;
}

table.skill_details {
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#AAAAAA;
	width:100%
}

table.skill_category{
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
}

table.button_table {
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	padding:0px;
	border-spacing:3px;
	width:100%;
}

table.menu{
	border-top: #CCCCDD 1px solid;
 	border-bottom: #000000 0px solid;
	border-left: #CCCCDD 1px solid;
	border-right: #CCCCDD 1px solid;
	background-color:white;
}

table.sub_menu{
	border-top: #000000 0px solid;
 	border-bottom: #CCCCDD 0px solid;
	border-left: #CCCCDD 0px solid;
	border-right: #CCCCDD 0px solid;
	background-color:#006584;
	color:#FFFFFF;
	width:100%;
}

table.plan_table {
	border-top: #000000 1px solid;
 	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	background-color:#CCCCCC;
	width:100%
}

table.goals {
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#AAAAAA;
	width:100%
}

table.plans {
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#AAAAAA;
	width:100%
}

table.main_functional_area {
	width:100%;
}

table.usage_graph {
	border-spacing: 0px;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	background-color: #ffffff;
}

table.section_title {
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width:100%;
}

table.button_bar {
	border-spacing: 0px;border-collapse:collapse;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	
}
table.cv_components {
	border-spacing: 3px;
	padding: 0px;
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #ffffff 1px solid;
	}
	
/* textarea classes */

textarea.form {
	border: #000000 thin solid;
	padding: 0px;
	FONT-SIZE: 8pt; WIDTH: auto;
	color: #444444;
	clip:  rect(   )
}

/* td classes */

td.competence_selected {background-color: #ff4444;}

td.align-right{
	text-align:right
}

td.failed_cell{
	background-color:#ffaaaa;
}

td.form_info {
	background-color:#ffdddd;
}

td.subsection_info {
	font-family:;
	font-size:12px;
	padding: 4px;
	vertical-align:bottom;
	width:100%;
	white-space: normal;
}

td.notice {

	background-color: #eeeeee;

}

td.nopad {
	font-family:;
	font-size:12px;
	padding: 0px;
	vertical-align:center;
	}

td.evidence_area {
	background-color: #ffffff;
}

td.skill_category {
	background-color: #ffffff;
	white-space: nowrap;
	text-align: center;
}

td.data_name {
	background-color: white;
	width:100px;
	white-space: nowrap;
}

td.data_value {
	background-color: #ffffff;
	white-space: normal;
}

td.list_data {
	font-size: 10px;
	border-bottom: #eeeeee 1px dotted;
						/* normal list data */
}

td.list_action {					/* list actions i.e. links that appear in list tables */
	text-align:center;
	border-bottom: #eeeeee 1px dotted;
}

td.evidence_action {
	text-align:center;
	background:##f6fac5;
}

td.journal_entry {
	background-color: #f6fac5;
	width:100%;
}

td.journal_entry_full {
	/*white-space: nowrap;*/
	width:100%;
}


td.data_title {
	background-color: #dddddd;
	width:130px;
	white-space: nowrap;
}

td.data_sub_title {
	background-color: #f6fac5;
	width:110px;
	white-space: nowrap;
}

td.data_sub_entry {
	background-color: #e6eab5;
	white-space: nowrap;
}

td.data_title_bright {
	background-color: #eeeebb;
	width:110px;
	white-space: nowrap;
}

td.data_title_optional {
	background-color: #eeeebb;
	width:100px;
	white-space: nowrap;
}

td.data_entry {
	background-color: #ffffff;
	white-space: nowrap;
}

td.data_entry_optional {
	background-color: #ffffcc;
	white-space: nowrap;
}

td.data_entry_middle {
	background-color: #ffffff;
	white-space: nowrap;
	vertical-align: middle;
}

td.data_info_optional {
	background-color: #eeeebb;
	width:100px;
	white-space: nowrap;
	font-weight: bold;
}


td.button_row {
	background-color: inherit;
	width:100%;
	text-align:center;
}

td.form {
	font-weight:bold;
	color:#FFFFFF;
}

td.form_button_area {
	background-color:#BBBBBB;
	font-weight:bold;
	color:#DDDDDD;
	vertical-align:middle;
}

td.data_entry_required {

	color: #ff0000;

}

td.main_functional_area {
	width:100%;
}

td.sub_menu_name {
	color: white;
	text-align:right;
	white-space: nowrap;
}

td.warning {
	color: red;
}

textarea.data_entry_required {
	BORDER-BOTTOM: #ff0000 thin solid;
	BORDER-LEFT: #ff0000 thin solid;
	BORDER-RIGHT: #ff0000 thin solid;
	BORDER-TOP: #ff0000 thin solid;
	FONT-SIZE: 10pt; WIDTH: auto;
	font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
	color: #444444;
	clip:  rect(   )
}

/* th classes */

th.list_header {					/* headers used in table lists */
	color:black;
	border-bottom: #444444 1px dotted;
	background:#ecf9fb;
}

th.list_header_center {					/* headers used in table lists */
	color:#333333;
	background:#ecf9fb;
	text-align:center;
}

th.information_header {
	font-weight:bold;
	color:#333333;
	background:#ECF9FB;
	text-align:left;
}

th.goal_header {
	font-weight:bold;
	color:#000000;
	background:#ECF9FB;
	text-align:left;
}

th.evidence {
 	font-weight:bold;
	color:black;
	background:#f6fac5;
	text-align:left;
 }
 
 th.evidence_action {
	color:#555555;
	background:#f6fac5;
	text-align:center;
}

/* tr classes */

tr.nopad {
	font-family:;
	font-size:12px;
	padding: 0px;
	vertical-align:center;
	}

tr.evidence_header {
	background-color: #cccccc;
	font-weight: bold;
}

tr.attachment {
	background-color: #ddcccc;
}

tr.button_row {
	background-color: inherit;
	width:100%;
}

tr.gray_list_row_dark {					/* dark colour for tr lists*/
	background-color: #ffdddd;
	color:#ff3333;
}

tr.gray_list_row_light {					/* light colour for tr lists*/
	background-color: #ffbbbb;
	color:#ff3333;
}

tr.list_row_dark {					/* dark colour for tr lists*/
	background-color: #eeeeee;
}

tr.list_row_light {					/* light colour for tr lists*/
	background-color: #ffffff;
}

tr.list_row_medium {					/* medium colour for tr lists*/
	background-color: #eeeeee;
}

tr.evidence {
	background-color: #dddddd;
}

tr.category {
	background-color: #ffffcc;
	font-weight: bold;
}

tr.skill_category {
	background-color: #666666;
	font-weight: bold;
}

tr.sub_category {
	background-color: #f6fac5;
	font-style: italic;
}

tr.skill {
	background-color: #ffffdd;
}

tr.cv_component_title {
	color: #006584;
	font-size:13px
	}

tr.evidence {
	background-color: #f6fac5;
}

/* input classes */

input.data_entry {

	border: 1px solid #666666;

	}
	
input.data_entry_bold {

	border: 1px solid #666666;
	font-weight: bold;

	}
	

input.data_entry_required {

	border: 1px solid #ff0000;

	}
	

input.radio {

	border: 0px;

}

.current_competence {
	font-style:normal;
	display: inline; 
	color:red;
	
}

input.radio_changed {

	border:1px;
	background-color: red;
}

input.buttonbold {
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width: 25px;
	height:25px;
	background: url(/pdp/images/style_images/default/buttons/bold_button.gif) no-repeat;
	}

input.buttonitalic {
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width: 25px;
	height:25px;
	background: url(/pdp/images/style_images/default/buttons/italic_button.gif) no-repeat;
	}

input.buttonunder {
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width: 25px;
	height:25px;
	background: url(/pdp/images/style_images/default/buttons/underline_button.gif) no-repeat;
	}
	
input.buttonspelling {
	border-top: #000000 0px solid;
 	border-bottom: #000000 0px solid;
	border-left: #000000 0px solid;
	border-right: #000000 0px solid;
	width: 123px;
	height:25px;
	background: url(/pdp/images/style_images/default/buttons/check_spelling.gif) no-repeat;
	}

input.btn {

   color:#006584;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;

   }

input.form_button {
   color:#006584;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
      
}

input.button {
	border: black 0px solid;
	font-size: 12px;
}
   
input.text_counter {
	border: #cccccc thin none;
	padding: 0px;
	FONT-SIZE: 6pt; WIDTH: auto;
	background-color: #dddddd;
	color: #ff0000;
	clip:  rect(   )
}

input.calendar_button {
	background-image: URL("/pdp/images/style_images/default/buttons/calendar_small.jpg");
	width:33px;
	height:20px;
	cursor:pointer;
}

input.form_field {
	border: #cccccc thin solid;
	padding: 0px;
	FONT-SIZE: 8pt; WIDTH: auto;
	color: #444444;
	clip:  rect(   )
}

input.unlocked_input {
	border: #cccccc thin solid;
	padding: 0px;
	FONT-SIZE: 8pt; WIDTH: auto;
	color: #444444;
	clip:  rect(   )
}

/* GENERIC SECTIONS ************************************************************************************/

/* Commented Backslash hack hides rule from IE5-Mac \*/

td start a { 
	float:none; 
}

/* End IE5-Mac hack */

td.start {
	float:left;
	margin:0px;
	padding:0px 0px 0px 6px;
	background:url("/pdp/images/style_images/default/section_on_left.gif")
	no-repeat left top;
}
	
td.start a {
	display:block;
	float:left;
	margin:0px;
	padding:4px 25px 3px 4px;
	background:url("/pdp/images/style_images/default/section_on_right.gif")
	no-repeat right top; font-weight:bold;
}

td.select {
	float:left;
	margin:0px;
	padding:0px 0px 0px 6px;
	background:url("/pdp/images/style_images/default/section_off_left.gif")
	no-repeat left top;
}

td.select a {
	display:block;
	float:left;
	margin:0px;
	padding:4px 25px 3px 4px;
	background:url("/pdp/images/style_images/default/section_off_right.gif")
	no-repeat right top; font-weight:bold;
}

td.select a:link { 
	color:#000000; 
}

td.select a:visited { 
	color:#000000; 
}

td.select a:hover { 
	color:#64bfdb; 
	text-decoration:underline; 
}

td.select a:active { 
	color:#64bfdb; 
}

/* STUDENT SECTION **********************************************************************/


#preferences th {
	font-weight:bold;
	color:#000000;
	background:#ECF9FB;
	text-align:left;
}

#preferences td.form_question {
	font-weight:normal;
	color:#333388;
	text-align:right;
	width:300px;
}

#preferences td.form_question_not_active {
	font-weight:normal;
	color:#555555;
	text-align:right;
	width:300px;
}

/* ADMINISTRATOR SECTION **********************************************************************/

/* Admin Home */

#admin_home h1 {
	font-size: 16pt;
	font-weight: bold;
}

/* Admin System Statistics */

#statistics h1 {
	font-size: 16pt;
	font-weight: bold;
}

/* Admin System Management */

#system_management h1 {
	font-size: 16pt;
	font-weight: bold;
}

#system_management table.information{
	border-spacing: 0px;border-collapse:collapse;
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#ffffff;

}

#system_management h2 {
	font-size: 12pt;
	font-weight: bold;
}

/* Admin User Management */

#user_management h1 {
	font-size: 16pt;
	font-weight: bold;
}

#user_management table.information{
	border-spacing: 0px;border-collapse:collapse;
	border-top: #AAAABB 1px solid;
 	border-bottom: #AAAABB 1px solid;
	border-left: #AAAABB 1px solid;
	border-right: #AAAABB 1px solid;
	background-color:#ffffff;

}

/* Calendar */

.calendar {
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	width: 100%;
}

.dayNamesRow {
   	height: 20px;
	background-color: #455678;
	text-align: center;
	vertical-align: middle;
	}
	
.dayNamesText {
    font-family: Geneva, Verdana, Arial, sans-serif; 
	font-size: 10px; 
	font-weight: Bold; 
	color: #FFFFFF;
	}
	
.dayNamesTextWE {
    font-family: Geneva, Verdana, Arial, sans-serif; 
	font-size: 10px; 
	font-weight: Bold; 
	color: #FFFFFF;
	background-color: #999999;
	}
	
.dayNumber {
	
}

td.dayWeek {
	background-color: #F7F7F7;
	height: 88px;
}
td.dayWeekEnd {
	background-color: #D4D4D4;
	height: 88px;
}
td.dayToDay {
	background-color: #D4D4FF;
	height: 88px;
}
td.dayOn {
	background: #ffd7d7;
	height: 88px;
	cursor: pointer;
}

.day {
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	width: 100%;
}
td.dayTime {
	background-color: #BBBBBB;
	color:#ffffff;
	width:10px;
}

td.action {
	background-color: #eeeeee;
	color:#ffffff;
	width:20px;
}
.meeting_request {
	color:#ff0000;
}

.meeting_request_accepted {
	color:#00cc00;
}

.small_appointments {
	font-size:9px;
}

tr.dayEntry {
	background-color: #FFFFFF;
	border-bottom: 1px solid #ccccff;
	width: 100%;
}
.calendarDate {
}

.notes {
	float: left;
	color:#333333;
	margin: 0px 2px;
	
}

.action {
 	float: right;
  	width: auto;/* em width variance by element*/
  	margin: 0 0 0 0.2em;
  	padding-left: 0.2em;
	color:#666666;
	text-align:right;
	font-size: 10px;
}

.time {
	float:left;
	margin: 0px 2px;
}

.title {
	float:left;
	font-weight: Bold; 
	margin: 0px 2px;
}

/* auto suggest stuff */

		.suggestion_list
		{
		background: #ffeeee;
		border: 1px solid #eedddd;
		padding: 4px;
		font-size:11px;
		width:auto;
		display:none;
		}
		
		.suggestion_list ul
		{
		padding: 0;
		margin: 0;
		list-style-type: none;
		width:auto;
		}
		
		.suggestion_list li
		{
		padding: 0;
		margin: 0;
		list-style-type: none;
		width:auto;
		}
		
		.suggestion_list a
		{
		text-decoration: none;
		color: navy;
		}
		
		/*.suggestion_list a:hover
		{
		text-decoration: underline;
		cursor:pointer;
		color: navy;
		}*/
		
		.email
		{
		text-decoration: none;
		color: navy;
		}
		
		.hover
		{
		cursor:pointer;
		text-decoration: underline;
		color: navy;
		}
	
#invitation {

	background:#ffddcc;
}		

#invitation u{

	color: #331100;
	text-decoration:none;
}
#invitation i{

	color: #331100;
}
#invitation b{

	color: #331100;
}
#event u {

	color: #000000;
	text-decoration:none;
}
#event i {

	color: #000000;
}
#event b {

	color: #000000;
}

.light_text {
	color:#555555;
}