/* GENERIC CSS ELEMENTS *****************************/
html {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
body {
  font-family: Verdana, Arial, sans-serif;
  font-size:10pt;
  color:#000000;
  background-color:#ffffff;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 0px #ccc solid;
}
a:link {
  text-decoration: none; color : #338;
}

a:active {
  text-decoration: none; color : #338;
}

a:visited {
  text-decoration: none; color : #338;
}

 
a:hover {
  text-decoration: underline; color : #338;
}

acronym {
  border-bottom-width: 0.1em;
  border-bottom-color: #0000FF;
  border-bottom-style: solid;
  cursor: help;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #006584;
  font-size: 16pt;
  font-weight: bold;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #006584;
  font-size: 14pt;
  font-weight: bold;
}

h3 {
   color: #000;
   font-size: small;
   background-color: transparent;
   margin: 0px;
   padding: 3px; 
   border-top: 0px solid #006584;
   border-left: 5px solid #006584;
   margin-bottom: 5px;
   margin-top: 0px;
   background-image: url(/opus/images/heading.gif);
   background-repeat: no-repeat;
   text-align: left;
}



em.validation_message {
  
  color:#ff0000;
}

#title {
  font-size:1.2em;
  float:right;
}
#footer {
  padding-left:1em;
  font-size: 0.8em;
}

#footer p {
  font-size: 8pt;
}
#footer a {
  color: #ffffff;

}

#login {
  min-width:28em;
  max-width:28em;
  clear:left;
  font-size:1.1em;
  font-weight:normal;
  padding:0.3em;
  border:1px #666 dotted;
}

#compile_time a{
  font-size:1em;
  font-weight:normal;
  float:left;
  color: #fff;
}

/* id = outerwrapper*/

#page_wrapper {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: none;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 0.0em;
  border:0px #666 solid;
  min-width:1200px;
  /*float:center;*/
}

#groups {
  padding-top:0.4em;
  padding-right:0.3em;
  clear: right;
  float: right;
  font-size:0.9em;
  color:#ffffff;
  border:0px;
}

a.group {
  color:#aaaaaa;
}

#sql_error {
  padding:0.5em;
  border: 1px red dotted;
  margin: 0.2em;
  background:#ffdddd;
  color:#990000;
}

#warning {
  padding:1em;
  border: 2px red dotted;
  background:#ffdddd;
  color:#990000;
}

#brief {
  padding: 1em;
  border: 1px black dashed;
}


/* div id=menu style */

#menu {
width: 1400px;
clear:both;
}

#menu ul {
list-style: none;
margin-left: 53px;
padding: 0;
width: 100%;
clear:both;
}

#menu li {
float:left;
} 

/* style, color and size links and headings to suit */
#menu a {
/*font: bold 1.0em arial, sans-serif;
display: block;
height: 26px;
margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom:2px;
color: #555555;
background: #ffffff;
text-decoration: none;*/
}

#menu a.first {
/*font: bold 1.0em arial, sans-serif;
display: block;
height: 26px;
margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom:2px;
color: #555555;
background: #ffffff;
text-decoration: none;*/
}

#menu li.right {
  float:right;
}

#menu li.logout {
  float:left;
  padding-right: 20px;
  background-color:transparent;
}

#menu a.logout {
  /*color:#cc5555;*/
  border-width: 0px 0px 0px 0px;
  border-color: #dddddd;
  font-weight:bold;
  background-color:transparent;
}
#menu a:hover {
  /*color:#ffffff;
  background: #3780e6;*/
}

#menu a.logout:hover {
  text-decoration: underline;
  border-left-width: 0px;
}
#menu a.current:hover {
  padding-left: 5px;
}

#menu a.current {
  /*color:#64bfdb;
  background: #ffffff;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #006584;
  padding-left: 5px;*/
}

#menu a.currentfirst
 {
  /*border-width: 0px 1px 0px 1px;
  color:#64bfdb;
  background: #ffffff;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #006584;
  padding-left: 5px;*/
}
#menu a.currentfirst:hover {
  padding-left: 5px;
}

#menu ul ul { 
  width:auto;                /* sets the size of the menu blocks */
  border: 1px solid #000;      /* puts a black border around the menu blocks */
  background-color: #8aa;      /* makes the menu blocks mint green - a bg-color MUST be included for IE to work properly! */
  padding-left: 0px;           /* stops the usual indent from ul */
  cursor: default;             /* gives an arrow cursor */
  margin-left: 0px;            /* Opera 7 final's margin and margin-box model cause problems */
}
#menu ul li {
  position: relative;          /* makes the menu blocks be positioned relative to their parent menu item
                                  the lack of offset makes these appear normal, but it will make a difference
                                  to the absolutely positioned child blocks */
}
#menu ul li > ul {          /* using the > selector prevents many lesser browsers (and IE - see below) hiding child ULs */
  display: none;               /* hides child menu blocks - one of the most important declarations */
  position: absolute;          /* make child blocks hover without leaving space for them */
  top: 1.3em;                    /* position slightly lower than the parent menu item */
  left: 0em;                  /* this must not be more than the width of the parent block, or the mouse will
                                  have to move off the element to move between blocks, and the menu will close */
  background:#3780e6;
  margin-top: 17px;
  border:1px #ddd solid;
}
#menu ul li ul li {
  clear:left;
  width:100%;
}

#menu ul li ul li a {
  border: 0px #fff solid;
  font-weight:normal;
  white-space:nowrap;
}
#menu ul ul {     /* must not be combined with the next rule or IE gets confused */
  display: block;              /* specially to go with the className changes in the behaviour file */
}

#menu ul li:hover > ul {    /* one of the most important declarations - the browser must detect hovering over arbitrary elements
                                  the > targets only the child ul, not any child uls of that child ul */
  display: block;              /* makes the child block visible - one of the most important declarations */
}

/* Fixes for broken IE behaviour */
#menu ul li.CSStoHighlight {
  background-color: #fff;      /* gives the active menu items a yellow background */
  color: #000;                 /* makes the active menu item text black */
  z-index:100;
  display:block;
}

#menu ul ul.CSStoShow {     /* must not be combined with the next rule or IE gets confused */
  display: block;              /* specially to go with the className changes in the behaviour file */
  position:absolute;
  width:auto;
  background-color: #fff;
  border:1px #ddd solid;
}

#menu ul li a.CSStoHighLight { color: #000; }
/* div id=submenu style */

#submenu {
/*width: auto;
background: #eee;*/
/*width: 100%;
background: #ffffff;
float: left;
border-top: 0px #dddddd solid;
border-bottom: 1px #dddddd solid;*/
}

#submenu ul {
/*list-style: none;
margin: 0;
padding-left: 55px;
width: 100%;
float:left;
height:40px;*/
}

#submenu li {
float:left;
} 

/* style, color and size links and headings to suit */
#submenu a {
/*font: bold 0.9em arial, sans-serif;
display: block;
border-width: 0px;
margin: 0;
padding-left: 20px;
padding-right: 12px;
padding-top:12px;
color: #555555;
background: #ffffff;
text-decoration: none;*/
}

#submenu a:hover {
  text-decoration: underline;
}

#submenu a.current {
 /* color: #64bfdb;
  font-style:italic;
  background: #ffffff;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: transparent;
  padding-left: 5px;*/
}

#submenu form {
  margin-bottom:0px;
}


#navigation_history b {
  font-size: 1em;
}

#navigation_history {
  font-size: 1em;
}

#name {
  font-size: small;
  font-weight:bold;
  color: #333333;
  float: left;
}

#content_block {
  width:90%;
  margin-left:50px;
  margin-right:50px;
  clear:left;
  /*background-color: #f7f7f7;*/
  border: 0px #f7f7f7 solid;
  min-height:500px;
  display:block;
  float:left;
}

#page h1 {
  font-size:1.4em;
}

#tools {
  display:block;
  background: #eee;
  width:10em;
  float:right;
  border:2px #ddcccc solid;
  margin-left:1em;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-right:0.1em;
  padding:1em;
  
}
#news {
  display:block;
  background: #eee;
  width:15em;
  float:right;
  border:2px #ddcccc solid;
  margin-left:1em;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-right:0.1em;
  padding:1em;
  
}

#news ul {
list-style: none;
margin: 0;
padding: 0;
width: auto;
float:left;
}

tr {

}

th {
  font-size: small;
}

td {
 font-family: Verdana, Arial, sans-serif;
 vertical-align:top;
 text-align: left;

}

table {
 border:#fff 0px solid;
  background-color: #transparent;
  width:100%;
}

input {

  border:#222 1px solid;
  background-color:#f5f5f5;
  font-family: Verdana, Arial, sans-serif;
  font-size:1em;
  
  /*color:#FFFFFF;
  background-image: url("../images/greenactionbutton.png");
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: medium none;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.1em;
  float:right;*/
}

textarea {
  border:#222 1px solid;
  background-color:#f5f5f5;
  font-family: Verdana, Arial, sans-serif;
  font-size:1em;
}

#table_list {
  margin-right:0.5em;
  margin-bottom: 50px;
}

#table_list table {
  border:#ccc 0px solid;
  color: #555555;
  font-size: 0.9em;
  width:100%;
  border-spacing: 2px;
}
#table_list tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  /*white-space:nowrap;*/
}
#table_list td {
  font-family: Verdana, Arial, sans-serif;
  padding: 2px;
  border-style:none;
}
#table_list .dark_row {
  background-color:#e5e5e5;
}
#table_list .light_row {
  background-color:#ffffff;
}
#table_list .highlighted {
	color:green;
}

#table_list th {
  /*background-color:#f0f5f5;
  font-family: Verdana, Arial, sans-serif;
  padding-left:5px;
  padding-right:5px;
  border-right:#ccc 0px solid;
  border-bottom:#999 0px solid;
  text-align:center;
  font-weight:bold;
  color:#aaa;
  white-space:nowrap;
  border-radius: 5px;*/
}
#table_list th.action { 
  border-right:0px;
  color:#ffffff;
  text-align:center;
  font-weight:bold;
  width:15%;
  white-space:nowrap;
}
#table_list td.action {
  padding: 3px;
  border-right:0px;
  text-align:center;
  white-space:nowrap;
  width:1em;
}
#table_list td.action a {
  padding: 3px;
  border-right:0px;
  color:#0D436F;
  text-align:center;
  white-space:nowrap;
}
#table_list tr:hover {
  background-color:#ffd5e5;
}
#table_list td:hover {
  background-color:#ffc5c5;
}
#table_manage table {
  border:#e5e5e5 1px solid;
}
#table_manage tr {
  background: #fafafa;
}

#table_manage th {
  background: #fafafa;
  font-size: 0.9em;
  color: #443333;
  padding-left: 1em;
  padding-top:0.3em;
  padding-bottom:3px;
  padding-right:3px;
}
#table_manage td {
  background: #fafafa;
  font-size: 0.9em;
  color: #443333;
  padding-left: 1em;
  padding-top:0.3em;
  padding-bottom:3px;
  padding-right:3px;
}
#table_manage td.button {
}
#table_manage .submit {
  /*color:#FFFFFF;
  background-image: url("../images/greenactionbutton.png");
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: medium none;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.1em;
  float:right;*/
}
#table_manage .submit:hover {
  border: 1px red solid;
  text-decoration:underline;
}

#table_manage td.property {
  background: #ffffff;
  color: #443333;
  text-align:right;
  padding-right:1em;
  padding-left: 0.3em;
  border-right:1px #cccccc solid;
  font-size:0.9em;
}

#table_manage textarea {
  clear:left;
  float:left;
}

#app_title
{
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  margin-left: 53px;
  float:left;
  font-weight:bold;
  font-size:larger;
}

#institution_logo
{
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  margin-left: 53px;
  float:left;
  font-weight:bold;
  font-size:larger;
}

#application_logo 
{
  float:right;
  font-size:larger;
  font-weight:bold;
  margin-bottom:0.3em;
  margin-right:53px;
  margin-top:0.5em;
}

#app_tagline 
{
  float:right;
  font-size:larger;
  font-weight:bold;
  margin-bottom:0.3em;
  margin-right:53px;
  margin-top:0.5em;
}

#username {
  padding-top:12px;
  padding-right:3%;
  clear: right;
  float: right;
  font-size:0.9em;
  font-weight:bold;
  color:#ffffff;
}
#mini_menu
{
  padding-top:0.5em;
  padding-bottom:0.3em;
  clear:right;
  float:right;
  font-size:0.7em;
  color: #ffffff;
  margin-right:3px;
}
#mini_menu_item
{
  float:left;
  border-left:1px #006584 solid;
  border-top:1px #006584 solid;
  border-bottom:1px #006584 solid;
  border-right:1px #006584 solid;
  margin-left:1px;
  padding-left:0.4em;
  padding-right:0.4em;
  padding-bottom:0.1em; 
}
#mini_menu_item a {
  font-size:0.9em;
  color:#ddffdd;
}
#mini_menu_item:hover {
  border:1px #ff6584 solid;
}

#tag_line {
  padding-left:1em;
  padding-right:1em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-size:1.0em;
  font-weight:normal;
  color: #444444;
  border-bottom: 0px #cccccc solid;
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
}

#tag_line p {
  margin-top :0.1em;
  margin-bottom: 0.1em;
}

#tag_line h2 {
  font-size :1em;
}

#info_text {
  padding-left:1em;
  padding-top:0.2em;
  padding-bottom:0.2em;
  font-size:0.9em;
  color: #444444;
  border-bottom: 0px #cccccc solid;
}

.red {
  color: #903030;
}

#action_area {
  padding-top: 0.3em;
  padding-left: 1em;
  padding-bottom: 0.6em;
  float:left;
  font-size:0.9em;
  margin-left: 40px;
}

#action_button a{
  color:#FFFFFF;
  background-image: url("../images/greenactionbutton.png");
  padding: 5px 10px;
  border: medium none;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#action_button a:hover{
  /*border: 1px red solid;*/
}

.validation {
  width:0.9em;
}

.validation_message {
  color: red;
}

.validation_failed {
  border:red 1px solid;

}

.status_open {
  color: green
}

.status_closed {
  color: grey
}

.status_special {
  color: red
}

#header {
  background-repeat: repeat-x;
  background-position: top right;
}
#page_title {
  clear: left;
  text-align: left;
  padding-left: 10px;
  line-height: 2em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 2em;
  height: 2em;
}
#footer {
  background-repeat: repeat-x;
  width: auto;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  clear: both;
  line-height: 3em;
  min-height: 4em;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dddddd;
  margin-top: 0px;
  font-size: small;
}

.fancy_table {

  padding-right:1em;

}

.list_fancy_action {
  float:right;
}

.qualification_date_attained {
  float:right;
  font-size: small;
  font-weight: bold;
}

.qualification_institution {
  clear:right;
  float:right;
  font-size: small;
}
.qualification_subjects {
  float:left;
  clear:both;
  font-size: large;
  color: #d033ff;
}
.qualification_qualification {
  float:right;
  clear:right;
  font-size: large;
  padding-right:1em;
  color: #d033ff;
}

.qualification_grade_mark {
  float:left;
  font-size: large;
}

.qualification_awarding_body {
  float:left;
  font-size: small;
  padding-left:1em;
}

.qualification_skills_developed {
  
  clear:left;
  font-size: normal;
}
.skills_developed_heading { 
  clear:left;
  font-size: normal;
  font-weight: bold;
}
.validation {
  width:8px;
}

.validation_message {
  color: red;
}

.validation_failed {
  border:red 1px solid;

}

#table_manage table {
  border:0px;
}

#table_manage .property {  
  font-size: 0.9em;
}

#table_manage textarea {
  BORDER-BOTTOM: #cccccc thin solid;
  BORDER-LEFT: #cccccc thin solid;
  BORDER-RIGHT: #cccccc thin solid;
  BORDER-TOP: #cccccc thin solid;
  FONT-SIZE: 10pt; WIDTH: auto;
  font-family: Verdana, Arial, sans-serif;
  color: #444444;
  clip:  rect();
}

#table_manage input {
  /*BORDER-BOTTOM: #cccccc thin solid;
  BORDER-LEFT: #cccccc thin solid;
  BORDER-RIGHT: #cccccc thin solid;
  BORDER-TOP: #cccccc thin solid;
  FONT-SIZE: 10pt; WIDTH: auto;
  font-family: Verdana, Arial, sans-serif;
  color: #444444;
  clip:  rect();*/
}

#bb_button_bar {
  float:left;
  display:block;
  font-size:0.8em;
  margin-right:1em;
}

#bb_button input{
  padding: 0px 0px 0px 0px;
  margin-right:0.2em;
  width:auto;
  background:#cccccc;
  float:left;
  font-size:0.8em;
}

.buttonbold {
  font-weight:bold;
}
.buttonitalic {
  font-style:italic;
}
.buttonunder {
  text-decoration:underline;
}

#table_manage input.text_counter {
  padding: 0px 0px 0px 0px;
  margin-right:0.2em;
  width:auto;
  float:left;
  font-size:0.8em;
  border:0px;
  color: #884444;
}

#table_manage input.calendar_button {
  background-image: URL("/opus/images/calendar_small.jpg");
  width:34px;
  cursor:pointer;
  border: 0px;
}

.info_label {
  padding-left:1em;
  padding-right:0.5em;
  float:left;
  font-size: 0.8em;
  color: #444444;
}

#mandatory input {
  border-bottom: 1px #f88 solid;
  
}

#mandatory textarea {
  border-bottom: 1px #f88 solid;
}

#php_info .h{
  font-size: 0.9em;
  font-weight: bold;
}

#php_info .e{
  background: #ffffff;
  color: #443333;
  text-align:right;
  padding-right:1em;
  padding-left: 0.3em;
  border-right:1px #cccccc solid;
  font-size:0.9em;
}

#php_info .v{
  font-size: 0.8em;
  font-weight: normal;
}

td.vacancy_description {
  width: 30%;
}

#help_prompt {
    border: 1px green solid;
}

#help_prompt_link {
    text-align: right;
    color: gray;
}

.assessment_error {
  color: red;
}

.clear {
  clear:both;
}

.user_details {
  float:left;
  width: 25%;
}

.placement_details {
  float:left;
  width: 50%;
}

.user_photo {
  /*float:left;*/
  padding-left:30px;
}

.academic_tutor {
  text-align:center;
  margin:20px 20px 20px 20px;
}

.assess_details {
  float:left;
}
