body {
  font-family: serif;
  font-size:10px;
  color:#cccccc;
  background-color:#cccccc;

}

#app_title
{
  float:left;
  font-style:normal;
  font-size:smaller;
}

#submenu {
/*width: auto;
background: #eee;*/
width: 100%;
background: #aadddd;
float: left;
}