Source: opus
Section: web
Priority: extra
Maintainer: Colin Turner <c.turner@ulster.ac.uk>
Build-Depends: debhelper (>= 5),
  po-debconf
Build-Depends-Indep: texlive
Homepage: http://foss.ulster.ac.uk/projects/opus
Vcs-Browser: http://foss.ulster.ac.uk/cgi-bin/viewvc.cgi/?root=opus
Vcs-Svn: svn://foss.ulster.ac.uk/svn/opus/trunk
Standards-Version: 3.9.2

Package: opus
Architecture: all
Depends: uuwaf (>= 1.1), debconf, dbconfig-common, ucf, uuwaf-preferences, php5-cli, tinymce, ${misc:Depends}
Recommends: php5-gd, php5-ldap, libgd-gd2-perl
Description: On-line Placement University System
 OPUS is a comprehensive web based tool for managing all aspects of placement.
 It is aimed at Universities and other large institutions, and facilitates
 engagement from employers, academic staff, administrative staff and students.
 .
 It allows companies to place adverts for students, for students to post
 applications with CVs, as well as providing facilities for assessing students
 while on placement. Information is made available on-line to all placement
 stakeholders.

Package: opus-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: On-line Placement University System Documentation
 OPUS is a comprehensive web based tool for managing all aspects of placement.
 .
 This is the documentation for OPUS, which is currently still incomplete.
