#!/bin/sh -e
# Attempt at debconf for OPUS


# Source debconf library.
. /usr/share/debconf/confmodule

# Deep magic for dbconfig-common
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
        . /usr/share/dbconfig-common/dpkg/config.mysql
        dbc_first_version="4.0.0"
        # This PHP script just reads the old config file and maps it to dbconfig-common
        dbc_load_include="php:/usr/share/opus/include/load_old_database.php"
        dbc_go opus $@
fi

# Now much less to ask about...

# Ask for the fully qualified hostname
db_input high opus/fq_hostname || true

# Ask for the preferred protocol
db_input high opus/default_protocol || true

# Ask for the institution
db_input high opus/institution || true

# Ask for the cookie_host
db_input high opus/cookie_host || true

# Ask for the cookie_secret
db_input high opus/cookie_secret || true


db_go
