#!/bin/sh -e
# Attempt at debconf for OPUS

# Source debconf library.
. /usr/share/debconf/confmodule

# Ask for the fully qualified hostname
db_input high opus/fq_hostname || true

# Ask for the institution
db_input high opus/institution || true

# Ask for the database credentials
db_input high opus/root_db_password || true
db_input high opus/db_hostname || true
db_input high opus/db_database || true
db_input high opus/db_username || true
db_input high opus/db_password || true
db_go
