#!/bin/sh -e
# Attempt at debconf for OPUS

# Source debconf library.
. /usr/share/debconf/confmodule

# Deep magic for dbconfig-common
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
        . /usr/share/dbconfig-common/dpkg/config.mysql 
        dbc_go opus $@
fi

# Now much less to ask about...

# Ask for the fully qualified hostname
db_input high opus/fq_hostname || true

# Ask for the institution
db_input high opus/institution || true

# Ask for the details of the first user
db_input high opus/proot_email || true

db_go
