#!/usr/bin/make -f
#
# Debian rules file for OPUS

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) clean
	dh_clean 
	debconf-updatepo

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/opus.
	$(MAKE) deb-opus debwww=$(CURDIR)/debian/opus/var/www debprefix=$(CURDIR)/debian/opus/usr debetc=$(CURDIR)/debian/opus/etc debvarlib=$(CURDIR)/debian/var/lib
	$(MAKE) deb-opus-doc debwww=$(CURDIR)/debian/opus-doc/var/www debprefix=$(CURDIR)/debian/opus-doc/usr debetc=$(CURDIR)/debian/opus-doc/etc

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installdebconf	
	dh_installlogrotate
	dh_installcron
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
