<?php
/**
 * @package OPUS
 *
 * The system wide configuration file for OPUS
 */

// UUWAF settings
// These settings are passed to the UUWAF constructor, so you should see its documentation
// if you need more details.

$config['waf']['title']                 = 'OPUS';  // Used internally, don't change this
$config['waf']['log_level']             = 7; // From 0 - emergency, to 7 - debug
$config['waf']['compile_check']         = True; // Smarty compile checking
$config['waf']['caching']               = False; // Smarty template caching
$config['waf']['debugging']             = True; // Smarty debugging
$config['waf']['debug_only_on_IP']      = array("127.0.0.1", "193.61.142.92"); // If defined, debugging will be turned on automatically, only for these IPs
$config['waf']['language']              = "en"; // default language identified, used for the config files, you'll need to write others before changing this
$config['waf']['waf_debug']             = True; // Only enable this for extreme level debugging, normally you will not need this
$config['waf']['validation_image_ok']   = "images/ok-small.png";
$config['waf']['validation_image_fail'] = "images/fail-small.png";
$config['waf']['auth_dir']              = '/usr/share/opus/include/auth.d'; // Used to load authentication objects, you may want to customize the contents of this dir

// Uncomment this to have opus somewhere other than the default
//$config['waf']['base_dir'] = '/usr/local/share/opus'; // for example
// many other paths can be customized, but you probably have no need to
// See UUWAF documentation for more details

// OPUS related settings

$config['opus']['title']                = 'OPUS';
$config['opus']['title_short']          = 'OPUS';
$config['opus']['tagline']              = 'Online Placement University System';
$config['opus']['institution']          = 'University of Ulster';
$config['opus']['url']                  = 'http://localhost/opus';
$config['opus']['cleanurls']            = False;
$config['opus']['version']              = 4;
$config['opus']['minor_version']        = 0;
$config['opus']['patch_version']        = 0;
$config['opus']['benchmarking']         = true;
$config['opus']['logo']                 = "logo.png";
$config['opus']['rows_per_page']        = 20;


$config['opus']['paths']['resources']   = '/usr/share/opus/resources/';
// names of objects held in session

$config['opus']['session']['navigation'] = 'OPUS_Navigation';

$config_sensitive['opus']['database']['dsn'] = "mysql:host=localhost;dbname=opus4";
$config_sensitive['opus']['database']['username'] = "root";
$config_sensitive['opus']['database']['password'] = "test";

$config['opus']['pref_ident'] = 'preferences';
$config_sensitive['opus']['preference']['dsn'] = "mysql:host=localhost;dbname=preference";
$config_sensitive['opus']['preference']['username'] = "root";
$config_sensitive['opus']['preference']['password'] = "test";

// LDAP authentication
$config_sensitive['opus']['auth']['ldap'] = "ldap.ulster.ac.uk";


// PDSystem configuration options, use this to define the linked PDSystem (if any)
// Make the URL blank if the PDSystem is not installed
$config_sensitive['pds']['url'] = "http://localhost/ws";
$config_sensitive['pds']['username'] = "opus";
$config_sensitive['pds']['password'] = "password";

// web service configuration settings, again, make the URL if nothing is defined
$config_sensitive['ws']['url'] = "http://localhost/ws";
$config_sensitive['ws']['username'] = "opus";
$config_sensitive['ws']['password'] = "password";

// now include the local configuration file
// create this file locally and add any variation to the above configuration
include "../include/local.conf.php"; 

?>