README.Config

This file details various configuration settings that can be set for
OPUS at the configuration file level.

There will usually be a file opus.conf.php which contains settings made
by the developers and various defaults. This should normally not be
changed, since upgrades will overwrite the changes. Instead, you should
make your changes in the local.conf.php in the same directory, or on
some distributions (like Debian) you will find the local file in the
directory /etc/opus.

UUWAF Settings
--------------

The following settings are in fact used by the underlying web
application framework.

$config['waf']['base_dir']

OPUS Settings
-------------

* $config['opus']['pref_ident']

This specifies the name of the database used for storing preferences.

Default: 'preferences'


* $config['opus']['tinymce_url']

This specifies the location of the tinymce html editor.

Default: '/tinymce/tiny_mce.js'


* $config['opus']['rows_per_page']

In many screens OPUS limits the number of objects returned into pages,
this setting determines how many. Note that for various reasons some
directories return far more than this number if required.

Default: 20


* $config['opus']['enable_self_service_user_creation']

Will, if true allow *authenticated* users which have no existing user
account to attempt to create a user account for themselves.

Default: FALSE


* $config['opus']['student_username_regexp']

Defines a regular expression that will only match student usernames.
This can be used by OPUS when trying to auto create accounts.

Default: empty


* $config['opus']['disable_auto_add_student']

Will, if true, prevent OPUS from attempting to add students
automatically, based only on their student number. A working and fully
functional web service layer is required to use this functionality.

Default: FALSE


* $config['opus']['disable_auto_add_student_on_unknown_programme']

This is closely related to 'disable_auto_add_student'. Only if that
setting is FALSE will this one matter. This causes OPUS to only
automatically create students if their programme of study is already in
the database. In other words, use this setting if you want to tightly
control what programmes can use OPUS.

Default: FALSE


* $config['opus']['email_students_on_creation']

Will, if true, cause OPUS to email students, as it does other types of
user when their accounts are created. This is usually not the case
since normally there might be alternative methods of authenticating
students than using internal passwords.

Default: FALSE


* $config['opus']['drop_online_user_count']

Will cause OPUS to drop to a file in the configured var directory,
normally /var/lib/opus/online_users simple count information about the
number of online users.  This is a requirement for using the munin
plugin for OPUS.

Default: FALSE


* $config['opus']['auto_created_student_channel']

If this is defined, this channel name is used as a recipient for student
users who are automatically created. Otherwise, a hardcoded channel
name of "AutoCreatedStudents" is used.

Default: empty



